
.swiper{
    max-width: 95em;
}
.swiper-wrapper{
   width: 100%;
}
body{
   background-color: rgba(0, 0, 0, 0.897);
}
.swiper-slide{
    display: flex;
    width: 100%;
}
.header-title-modelos{   
    margin: auto; 
    max-width: 35em;  
  
}
.cont-title-modelos{
    padding: 1em;
}
