@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Corinthia:wght@400;700&family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Jost&family=Kumbh+Sans:wght@300;400;500;600&family=Kurale&family=Langar&family=Merienda+One&family=Merienda:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&family=Uchen&display=swap');
:root{
    --Font-Text-KUMB: 'Kumbh Sans', sans-serif;
    --FonMerienda: 'Merienda', cursive;
    --FontMeriendaOne: 'Merienda One', cursive; 
    --FontCorinthia: 'Corinthia', cursive;
    --FontJaques1: 'Jacques Francois', serif;
    --FontJaques2: 'Jacques Francois Shadow';
    --fontJost: 'Jost',sans-serif;
    --FontOpenSans: 'Open Sans', sans-serif;
    --FontRoboto: 'Roboto',sans-serif;
    --FontUchen: 'Uchen', serif;     
    --FontCondiment: 'Condiment',cursive;
    --FontLangar: 'Langar', cursive;
    --FontKurale: 'Kurale', serif;  
    --step--2: clamp(0.91rem, calc(0.75rem + 0.83vw), 0.96rem);
    --step--1: clamp(1.09rem, calc(0.73rem + 1.81vw), 1.20rem);
    --step-0: clamp(1.31rem, calc(0.67rem + 3.19vw), 1.50rem);
    --step-1: clamp(1.58rem, calc(0.55rem + 5.11vw), 1.88rem);
    --step-2: clamp(1.89rem, calc(0.35rem + 7.72vw), 2.34rem);
    --step-3: clamp(2.27rem, calc(0.01rem + 11.27vw), 2.93rem);
    --step-4: clamp(2.72rem, calc(-0.48rem + 16.00vw), 3.66rem);
    --step-5: clamp(3.27rem, calc(-1.20rem + 22.33vw), 4.58rem);
    --step-6: clamp(3.92rem, calc(-2.22rem + 30.68vw), 5.72rem);
    --step-7: clamp(4.70rem, calc(-3.64rem + 41.69vw), 7.15rem);
    --step-8: clamp(5.64rem, calc(-5.58rem + 56.12vw), 8.94rem);
    --step-9: clamp(6.77rem, calc(-8.22rem + 74.95vw), 11.18rem);
    --step-10: clamp(8.13rem, calc(-11.76rem + 99.46vw), 13.97rem);

    scroll-behavior: smooth;
}


/*Header*/
.header{
    margin: auto;
    max-width: 120em;    
    background-color: black;
    position: relative;
    z-index: 995;
    display: flex;
    flex-direction: column;
    
    //Border white
    .cont-border-header{       
        position: absolute;      
        z-index: 994; 
        width: 100%;
        height: 100%;
        padding: 1em;
        .border-header{
            width: 100%;
            height: 100%;            
            border-radius: 0.5em;
        }
    }
    //Contenedor de title, y btns
    .conteiner-header-principal{
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       z-index: 996;
       //title
       .cont-title-header{
            flex: 0 1 40%;
            display: flex;
            justify-content: center;
            align-items: center;     

            img{               
               width: 60%;
            }
       }
       //texto y btn
       .cont-text-btn-header{
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
            .cont-button-header {
                display: flex;       
                a{
                    display: flex;
                    align-items: center;
                    height: 65%;
                    img{
                        height: 100%;
                    }
                }         
            }
       }
    }

    //Navegación mobile
    .nav-mobile{       
        
        .cont-nav-mobile{   
            transform: translateY(-150em);
            position: fixed;         
            z-index: 998;
            top: 10em;
            height: 30em;           

            right: 1em;

            transition: transform 0.4s ease-in-out;       
            
            border-radius: 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;         
            gap: 0.5em;
            font-size: var(--step--2);   
            .link-nav-mobile{
                font-family: var(--FontLangar);
                font-size: 1.3em;
                font-weight: 100;
                color: rgb(66, 66, 66);
                width: 100%;
                height: 100%;
                padding: 0.8em;
                border-radius: 0.5em;
                display: flex;
                justify-content: center;
                align-items: center;                
            background-image: linear-gradient(109.6deg, rgba(121, 203, 202, 1) 11.2%, rgba(119, 161, 211, 1) 91.1%);
                
                .icon-mobile{
                    padding-right: 0.2em;
                    padding-bottom: 0.2em;
                    padding-top: 0.2em;
                }
            }
            .red{
                background-color: rgb(214, 214, 214);
            }
            .white{               
                color: rgb(255, 255, 255);
            }
                        // .link-nav-mobile:hover {
                        //     background-color: rgba(0, 0, 0, 0.514);
                        //     color: white;                          
                        // }
            .border-bottom-mobile{
                
                border-bottom: 0.1em solid rgb(0, 0, 0);
            }
           
        }   
        .MostrarMenuJs {
                transform: translateY(0) ;        
               
    }
    
}
    //Icono del burger
    .icon-burger-mobile{
        position: fixed;
        z-index: 999;
        width: 2.5em;
        height: 2.5em;
        top: 2em;
        right: 2em;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5em;
        cursor: pointer;

    
    }

}
.cortina-relative-button{
    position: relative;
}
.cortina-relative-button::before{
    position: absolute;
    content: "";
    width: 75%;
    height: 90%;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
    border-radius: 0.5em;
    transition: width 0.3s linear , background-color 0.3s linear, transform 0.3s linear;
}

.cortina-relative-button:hover::before {
    position: absolute;
    content: "";
    width: 0%;      
}

//Desapareciendo img del desktop
.img-desktop{
    display: none;

}
 
.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top .6s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: slide-in-blurred-top .6s cubic-bezier(.23, 1.000, .32, 1.000) both
}

@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

//Whassap icon
.fixed-whassap{
    position: fixed;
    width: 3em;
    height: 3em;
    bottom: 0.8em;
    right: 0.8em;
    padding: 0.4em;
    border-radius: 0.8em;
    transition: background-color 0.3s linear, transform 0.3s ease-in;
    background-color: rgb(107, 255, 139);
 
}
.fixed-whassap:hover{
    background-color: rgb(202, 255, 219);
    
}
//FACEBOOK ICON
.fixed-facebook{
   
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 4.5em;
    right: 0.8em;
    border-radius: 0.8em;
    transition: background-color 0.3s linear;
    .link-facebook-fixed{   
        max-height: 100%;
        .img-fb-fixed{
            max-width: 3em;
        }
    }
}
.img-fb-fixed{
    transition: transform 0.3s ease-in;
}
.img-fb-fixed:hover, .fixed-whassap:hover{
    transform: scale(1.2);
    
}

/*-----------------------------*/

//Titulo barber wason
//the somos barber wason
.article-barber-wason{
    display: flex;   
    .conteiner-barber-wason{        
        .cont-title-barber-wason{
            font-family: var(--FonMerienda);        
        }
    }
}
//--------------------------


.cont-title-services{
    margin: auto;
    max-width: 120em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
  
    padding: 2em 0 0.5em 0;
    .title-services{
        width:28em;             
    }
}

.cont-title-services::after{
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.815);
    bottom: 0; 
    height: 1%;
    width: 80%;
}


//Animacion nav, services
.scale-in-center {
    -webkit-animation: scale-in-center 2s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}



//-------------------

//Animation burger-services-nav
.slide-in-top {
    -webkit-animation: slide-in-top 2s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-top .5s  0.5s cubic-bezier(.25, .46, .45, .94) both 
}



@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}


/*--------------*/






//-----------------------
//Galeria
.section-gallery{
    max-width: 120em;
    margin: auto;
    margin-top: 1em;
    .cont-gallery{
        width: 100%;
        .cont-gallery-1{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(min-content,28em));
            justify-content: space-evenly;
            align-items: center;
            padding: 1em;         
            background-color: rgba(0, 0, 0, 0.87);
            .img-gallery{
                background-color: rgb(255, 255, 255);
                border-radius: 0.2em;
                padding: 0.5em;
                display: flex;     
              
                overflow: hidden;
            }    
            
            .img-gallery{
                flex: 1;
            }
            .img-gallery:hover{
              background-color: black;
            }
                    
        }
        
        
    }        
}

//-------------------------

//gilder-heider

.section-barbers{
    max-width: 120em;
    margin: auto;   
    padding-bottom: 5em;
    position: relative;
    .cont-barbers{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(min-content,30em));
        justify-content: space-evenly;      
        padding-top: 5em;       
        //Border-
        .border-barbers{           
            border: 0.1em dashed rgb(73, 73, 73);
            border-radius: 0.5em;          
            box-shadow: -10px 0 2px;
            perspective: 500em;
            transition:  box-shadow 0.3s linear;
        }
        //---       
        .border-barbers:hover{
            box-shadow: none;
        }
        .heider {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 0.1em solid black;
            .cont-heider-imgs {
                max-width: 25em;
                .title-heider{
                    max-width: 12em; 
                }    
            }
                         
        }
        .gilder{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            border-bottom: 0.1em solid black;
            .cont-gilder-imgs{
                max-width: 25em;
             
            }
            .title-gilder{
                max-width: 8.9em;
            }
        }
        .none-border {
        border: none;        

        }
   
    }    
    // @media (max-width:1297px) {
    //     .cont-barbers {
    //         width: 100%;
    //         display: grid;
    //         gap: 1em;
    //         padding: 0.5em;
    //         grid-template-columns: repeat(auto-fit, minmax(min-content, 27.5em));
    //         justify-content: space-evenly;
    //     }
    // }
}

.section-barbers::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.815);
    transition: width 0.8s ease-in-out;
}
.section-barbers:hover::after{
    width: 0;
}

//------------------------------

//Footer
.footer{
    max-width: 120em;
    margin: auto;
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .conteiner-footer{
        width: 100%;  
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit,minmax(min-content,15em));
        .footer-flex{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;          
        }
        //Ya tienen flex. con la clase footer-flex
        .footer-enlace{
            padding: 3em 0 0 0;
            align-items: center;
            gap: 1em;
            margin-bottom: 1em;
            font-family: var(--FonMerienda);
            h1{
                color: rgb(158, 158, 158);
                font-size: var(--step-1);
            }
            a{
                font-size: var(--step--1);
                color: white;
                padding: 1em;
                position: relative;
            }           
        }
        .footer-ubicacion{          
            font-family: var(--FonMerienda);
            .ubicacion{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 2em;
                h1{
                    color: rgb(158, 158, 158);
                    font-size: var(--step-1);
                }
                p{
                    font-size: var(--step--1);
                    color: white;
                }
            }
            .footer-redessociales{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 2em;
                h1 {
                        color: rgb(158, 158, 158);
                        font-size: var(--step-1);
                    }
                .cont-redes-sociales-footer{
                    width: 100%;                
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;  
                                   
                    a{                 
                        
                        .icons-footer{                        
                        font-size: var(--step-1);
                        color: white;                       
                        }                  
                        padding: 0.5em;
                        border: 0em solid white;
                        border-radius: 0.6em;         
                        position: relative;                     
                          
                    }                    
                    
                    .link-redes-fb{
                        background-color: #0093E9;
                            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
                    }
                    .link-instagram-redes{
                        background-color: #4158D0;
                            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
                    }

                    .link-whatsapp-redes{
                    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
                    }
                   
                }
            }
        }

        .footer-reservas {
            font-family: var(--FonMerienda);
            justify-content: space-evenly;
            text-align: center;
            .reservas{  
                display: flex;
                flex-direction: column;
                color: white;
                gap: 1em;
                h1{
                   color: rgb(158, 158, 158);
                }
                a{
                    color: white;
                    font-size: var(--step--1);
                    position: relative;
                    .icons-reservas{
                        padding-right: 0.3em;
                    }
                }                    
               
            }   
            
        }
                
        //--------------------
    }
        
    .links-enlances-footer::after{
        position: absolute;
        content: "";
        height: 3%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: height 0.3s linear;
        border-radius: 0.5em; ;
        background-color: rgba(151, 151, 151, 0.377);
    }
    .links-enlances-footer:hover::after{
        height: 100%;      
    }

    .links-footer-reservas::after{
        position: absolute;
        content: "";
        background-color: rgba(255, 255, 255, 0.541);
        border-radius: 0.7em;
        height: 100%;
        width: 0%;
        transition: width 0.3s linear;
        left: 0;
        top: 0;
    }
    .links-footer-reservas:hover::after{
        width: 100%;        
    }

    .footer-plomo{
        width: 100%;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: var(--FonMerienda);
        padding: 3em;
        background-color: rgb(51, 50, 50);
        color: white;
    }
}


//----------------

//Servicios-- Wason

.main-services{
    *{
        overflow: hidden;
    }
    margin: auto;
    max-width: 120em;
    padding: 0.5em;
    .cont-services{
        width: 100%;        
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(min-content,70em));
        .services-services{
            display: flex;
            flex-wrap: wrap;    
            padding: 0.2em;
            .title-service{
                width: 100%;
                font-family: var(--FonMerienda);
                font-size: var(--step-0);
                text-align: center;    
                text-shadow: 0 0 2px ;
                   overflow: hidden;
                h1{
                    background-color: rgba(0, 0, 0, 0.863);
                    color: white;
                    border-radius: 0.1em;
                    padding: 0.2em;
                }
                img{
                    padding: 0.5em 0 0.5em 0;
                    max-width: 25em;
                }
            }

            .contenido-txt-img{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 0.5em 0 0.5em 0em;
                justify-content: space-evenly;
                .txt-services{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: center;
                    max-width: 28em;                   
                    .icon-cabello-services{
                        max-width: 7em;
                    }
                    .texto-servicios-cabello{
                        font-family: var(--FontKurale);
                        font-size: var(--step-2);
                        text-align: center;
                        letter-spacing: 0px;
                        text-shadow: 0 0 2px black;
                    }                   
                    
                    .border-black-img{                       
                        border: 0.2em solid black;
                        border-radius: 0.5em;
                    }
                }

                
            }
            
        }
    }
}
// #img-body-services{

// }

// ------------------------



@media (max-width:919px) {
    .cont-img-pintado{
        display: flex;
        order: 1;
    }
    .img-services-barba{
        display: flex;
        order: 1;
    }
    .title-service{
        h1{

            font-size: var(--step-2);
        }
    }
   .services-services{
    border: 0.2em groove rgba(0, 0, 0, 0.774);
    border-radius: 0.4em;
    margin-bottom: 1em;
   }
   
     
}


@media (max-width: 819px) {
    .conteiner-footer{
        gap: 1em;
        margin-bottom: 10em;


    }
    
    .footer-reservas{
        gap: 2em;
    }
    .footer-ubicacion{
        gap: 5em;
    }
    .cont-barbers{
        gap: 2em;
    }
    .ubicacion{
        padding-top: 3em;
    }

    .cont-txt-header {
        width: 50%;
        display: inherit;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .cont-button-header {
        .button-no-mobile {
            display: none;
        }
    }

    .cont-nav-desktop {
        display: none;
    }

    .img-txt-barbero {
        width: 100%;
        height: 10em;
        display: flex;
        align-items: flex-end;
        margin-bottom: 1em;

        img {
            width: 100%;
        }
    }

    .cont-button-mobile-1 {
        width: 100%;
        height: 4.4rem;
        display: flex;
        justify-content: center;

    }
    .title-the-wason{
        max-width: 120em;
        .cont-title-thewason{
            width: 100%;
            display: flex;
            text-align: center;
            font-size: var(--step-0);
            font-weight: 100;
            font-family: var(--FontMeriendaOne);
            padding: 0.5em;
            justify-content: center;       
            .title-thewason{
                padding: 0.5em;
                border-radius: 0.2em;
                background-color: rgba(0, 0, 0, 0.918);
                color: white;
                text-shadow: 0 0 1px rgb(196, 196, 196);
                .the-wason-tijera{
                   display: none;
                }
            }
            .logo-thewason{
                display: none;
            }
        }
        
    }
    .article-barber-thewason{
        max-width: 120em;
        padding: 0.8em;
        .cont-thewason{
            width: 100%;
            font-family: var(--Font-Text-KUMB);
            font-weight: 400;
            position: relative;          
            display: flex;
            padding: 0.4em;
            flex-direction: column;
            text-align: center;
            gap: 1em;
            border: 0.2em solid rgb(0, 0, 0);
            border-radius: 0.5em;
            .text-barber-thewason{
                text-shadow: 0 0 1px;
                padding: 0.3em;
                p{
                    font-size: var(--step-0);
                }          
                .thewason-tijera{
                    max-width: 10em;
                }                   
            }
            .cont-img-thewason{
                display: flex;
                justify-content: center;
                padding-bottom: 1em;
                .heider-thewason{
                    max-width: 20em;
                    border-radius: 1em;                
                }
            }
            
        }      
        
    }
        .cont-thewason-tijera{
            display: flex;
            justify-content: center;
            .the-wason-tijera{
                max-width: 20em;
            }
        }
        .cont-thewason::after {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "Quitar Cortina";
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--FonMerienda);
            color: rgb(255, 255, 255);
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.562);
            transition: opacity 0.3s linear    ;
        }
        
        .cont-thewason:hover::after{
        opacity: 0;
        }



    @keyframes movete {
        0% {
            transform: translateY(-3px);
        }
    }

    .section-horario-wason {
        max-width: 120em;
        min-height: 90vh;
        background-image: url(Fotos/Cabezera2.svg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: grid;
        justify-content: center;

        //Una sola clase dado flex a los horarios-contenedores
        .cont-horarios {
            width: 100%;
            display: flex;
            justify-content: center;
            font-family: var(--FontMeriendaOne);
        }

        .cont-title-horario {
            justify-content: center;
            text-align: center;

            .title-horario {
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-size: var(--step-1);
                text-shadow: 0 0 3px;
                padding: 0.5em 0 0 0;


            }
        }

        .cont-lunes-sabado {
            padding-bottom: 1em;

            .lunes-sabado {
                width: 100%;
                height: 60%;
                background-color: rgba(0, 0, 0, 0.733);

                border-radius: 0.5em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                text-align: center;
                gap: 1em;

                .text-lunes-sabado {
                    font-size: var(--step-2);
                    color: rgb(255, 255, 255);
                    text-shadow: 0 0 3px;
                    border-bottom: 0.1em solid white;
                }

                .text-horario-ls {
                    color: rgb(255, 255, 255);
                    text-shadow: 0 0 3px white;
                    font-size: 1.2em;
                }

            }
        }

        .domingo {
            width: 100%;
            padding: 0.4em;
            height: 60%;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.733);

            border-radius: 0.5em;
            justify-content: center;
            align-items: center;
            gap: 1em;

            .text-domingo {
                font-size: var(--step-2);
                color: white;
                text-shadow: 0 0 3px;
                border-bottom: 0.1em solid white;
            }

            .text-horario-domingo {
                color: rgb(255, 255, 255);
                text-shadow: 0 0 3px white;
                font-size: 1.2em;
            }
        }
    }


    .nav-services {
        display: none;
    }
    
}

@media (max-width: 428px) {
    .cont-txt-header {
        width: 75%
    }

    .cont-text-btn-header {
        display: none;
    }

    .button-mobile {
        width: 100%
    }


}



@media (min-width: 51.25em) {    
    .txt-barbero {
        width: 27em;
    }

    .img-header-mobile {
        display: none;
        height: 820px;
    }

    .img-desktop {
        display: block;
    }

    //Navegacion pc
    .cont-nav-desktop {
        background-color: rgba(0, 0, 0, 0.301);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 2em;
        padding-top: 2em;
        padding-bottom: 0.5em;
        position: sticky;
        top: 0;

        .nav-desktop {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;

            .link-desktop {
                color: rgb(255, 255, 255);
                font-family: var(--FontOpenSans);
                font-weight: 500;
                text-shadow: 0 0 1px;
                padding: 0.5em;
                transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s linear;
                border-radius: 0.4em;
            }

            .link-desktop:hover {
                color: rgb(160, 2, 63);
                transform: scale(1.5);
                border-radius: 0.5em;
                background-color: rgb(255, 255, 255);
            }

            .icon-mobile {
                padding-right: 0.3em;
            }
        }

        .img-title-desktop {
            width: 45%;
            display: flex;
            justify-content: center;
        }
    }

    .cont-title-header {
        .logo-wason-img {
            height: 60%;
        }

        transition: filter 0.3s linear;
    }

    .icon-burger-mobile {
        display: none;
    }

    .nav-services {
        max-width: 120em;
        min-height: 10vh;
        display: flex;        
        padding: 1em;
        justify-content: center;
        background-color: rgba(95, 95, 95, 0.342);

        .cont-nav-services {
            width: 90%;
            position: fixed;
            z-index: 999;
            display: flex;
            justify-content: center;
            height:6vh
            ;
            .cont-services {
                width: 80%;
                display: flex;
                justify-content: space-evenly;
                background-color: rgb(255, 255, 255);
                border-radius: 0.2em;
                align-items: center;
                position: relative;

                .link-services {
                    font-family: var(--FonMerienda);
                    font-size: var(--step--1);
                    transition: text-decoration 0.3s linear;
                    color: rgba(160, 160, 160, 0.692);

                    overflow: hidden;
                    position: relative;
                    transition: background-color 0.3s linear, color 0.3s linear, padding 0.3s linear;

                    border-right: 0.1em solid rgb(0, 0, 0);
                    padding-right: 0.5em;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .link-services:hover {
                    background-color: rgb(0, 0, 0);
                    color: rgb(255, 255, 255);
                    padding: 0.8em;
                }
            }


            .cont-services::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.459);

                transition: width 0.4s linear;
            }

            .cont-services:hover::after {
                width: 0;
            }           

        }

    }

    //Horarios
    .section-horario-wason {
        max-width: 120em;
        margin: auto;
        min-height: 90vh;
        background-image: url("Fotos/CabeceraPrincipal.svg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: grid;
        justify-content: center;

        //Una sola clase dado flex a los horarios-contenedores
        .cont-horarios {
            width: 100%;
            display: flex;
            justify-content: center;
            font-family: var(--FontMeriendaOne);
        }

        .cont-title-horario {
            justify-content: center;
            text-align: center;
            
            .title-horario {
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-size: var(--step-3);
                text-shadow: 0 0 3px;
                padding: 0.5em 0 0 0;                    
                

            }
        }

        .cont-lunes-sabado {
            padding-bottom: 1em;

            .lunes-sabado {
                width: 35em;
                height: 60%;
                background-color: rgba(0, 0, 0, 0.733);

                border-radius: 0.5em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                text-align: center;
                gap: 1em;

                .text-lunes-sabado {
                    font-size: var(--step-2);
                    color: rgb(255, 255, 255);
                    text-shadow: 0 0 3px;
                    border-bottom: 0.1em solid white;
                }

                .text-horario-ls {
                    color: rgb(255, 255, 255);
                    text-shadow: 0 0 3px white;
                    font-size: 1.2em;
                }

            }
        }

        .domingo {
            width: 100%;
            padding: 0.4em;
            height: 60%;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.733);

            border-radius: 0.5em;
            justify-content: center;
            align-items: center;
            gap: 1em;

            .text-domingo {
                font-size: var(--step-2);
                color: rgb(255, 255, 255);
                text-shadow: 0 0 3px;
                border-bottom: 0.1em solid white;
            }

            .text-horario-domingo {
                color: rgb(255, 255, 255);
                text-shadow: 0 0 3px white;
                font-size: 1.2em;
            }
        }
    }
    //-----------

    //Somos the barber wason
     .title-the-wason{
        max-width: 120em;
        margin: auto;
        overflow-x: hidden;
        margin-top: 3em;
        .cont-title-thewason{
            width: 100%;
            display: flex;
             justify-content: center;
            padding: 0.3em 1em 0.3em 1em;          
            .logo-thewason{
                max-width: 15em;
            }
            .logo-thewason:hover{
                box-shadow: none;
            }
            .title-thewason{               
                text-shadow: 0 0 5px;
               flex: 0 1 50%;
               text-align: center;              
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;              
               font-size: var(--step-3);
                font-family: var(--FonMerienda);
                .the-wason-tijera{
                    padding-top: 0;
                    max-width: 10em;
                }
            }

            @media (max-width:860px) {
                .title-thewason {
                    font-size: var(--step-2);
                }
            }
        }

       
     }

     /*
     
     Animacion logo the-wason
     
     */
         .slide-in-left {
             -webkit-animation: slide-in-left 1s cubic-bezier(.25, .46, .45, .94) both;
             animation: slide-in-left 1s cubic-bezier(.25, .46, .45, .94) both
         }    
        
        @-webkit-keyframes slide-in-left {
            0% {
                -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
                opacity: 0
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1
            }
        }

        @keyframes slide-in-left {
            0% {
                -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
                opacity: 0
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1
            }
                 }

                 //right


        .slide-in-right {
            -webkit-animation: slide-in-right 1s cubic-bezier(.25, .46, .45, .94) both;
            animation: slide-in-right 1s cubic-bezier(.25, .46, .45, .94) both
        }
                                    

        @-webkit-keyframes slide-in-right {
            0% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1
            }
        }

        @keyframes slide-in-right {
            0% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1
            }
        }

     //--------



     .cont-thewason-tijera{
        margin: auto;
        max-width: 30em;
        margin-bottom: 2em;
        padding-top: 1em;       
     }

     .article-barber-thewason{
        max-width: 120em;
        margin: auto;
        margin-top: 3em;       
        position: relative;
        .cont-thewason{
            width: 100%;
            display: grid;
            justify-content: space-evenly;            
            grid-template-columns: repeat(auto-fit, minmax(min-content, 30em));
            border-top: 0.3em solid rgb(0, 0, 0);
          
            padding: 1em 0 0.1em 0;
            .text-barber-thewason{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                .txt-thewason{
                    font-size: var(--step-2);
                    font-family: var(--FontKurale);
                }
                .thewason-tijera{
                    max-width: 15em;
                }
            }
            .cont-img-thewason{
                padding: 1em 0 1em 0;                     
                .heider-thewason{
                    width: 30em;                    
                    border-radius: 1em;
                }
            }
        }        
    }    
        .article-barber-thewason::before {
            position: absolute;
            content: "";
            background-color: rgba(0, 0, 0, 0.815);
            height: 100%;
            width: 100%;
            transition: height 0.5s ease-in-out;
        }
        .article-barber-thewason:hover::before {
          height: 0;
        }
    //------------------
}
//Scale-animetion-thewason
.conteiner-modal {

    border-radius: 0.8em;
    overflow: hidden;
}

.link-modal{
    border-radius: 0.5;
    transition: transform 0.5s ease-in-out;
}
.link-modal:hover{
    transform: scale(1.2);
}
//----------------------